/* Home Section */
#home {
    align-items: center;
    justify-content: center;

    & .home-container {
        max-width: 80vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%; height: auto;
        margin: 0 auto;
        padding: 20px;
    }
}

.intro-text {
    flex: 1;
    padding-right: 40px;

    & h1, h2 {
        padding: 20px 0 20px 0;
    }

    h2 .typing-text { 
        position: relative; 
        max-width: max-content;
        color: var(--accent-color);
    }

    .typing-text::before, 
    .typing-text::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
    }

    .typing-text::before {
        background-color: var(--bg-color);
        animation: auto-typing 15s steps(23) 1s infinite;
    }

    .typing-text::after {
        background-color: var(--secondary-font-color);
        width: 0.125em;
        animation: auto-typing 15s steps(23) 1s infinite, cursor-blink 750ms steps(23) infinite;
    }

    .tagline::before {
        content: '';
        background-color: var(--accent-color);
        position: absolute;
        top: 0;
        left: 0;
        width: 0.25em;
        height: 100%;
    }

    & .tagline {
        position: relative;
        background: var(--card-color);
        padding: 10px 10px;
    }

    & .cta-buttons {
        margin: 40px 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 55%;
        /* border: 1px solid red; */

        .btn {
            box-sizing: border-box;
            font-size: clamp(0.75em, 0.9vw + 0.1em, 1.5em);
            padding: 10px 20px;
            border-radius: 2in;
            text-decoration: none;
            max-width: 13em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            transition: 0.5s;
        }
        
        .button-project {
            position: relative;
            width: 100%;
            height: 3em;
            background-color: var(--accent-color);
            color: var(--button-font-color);
            border: 2px solid var(--accent-color);
            padding: 2px 20px 2px 40px;
        }
        
        .button-project:hover {
            padding-left: 0;
        }

        .button-project .icon {
            position: absolute;
            width: 36px; height: 36px;
            left: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--secondary-font-color);
            background-color: var(--bg-color);
            border-radius: 50%;
            padding: 0.5em;
            transition: 0.5s ease-in-out;
        }

        .button-project:hover .icon{
            left: calc(100% - 42px);
        }
        
        .btn-download {
            border: 2px solid var(--tertiary-font-color);
            background-color: var(--bg-color);
            color: var(--secondary-font-color);
            box-shadow: 3px 3px 0 var(--secondary-font-color);
            transition: all 0.3s;
        }

        .btn-download svg{
            fill: var(--secondary-font-color);
        }

        .btn-download:hover svg{
            fill: var(--lighter-accent-color);
        }
        .btn-download:hover {
            color: var(--lighter-accent-color);
            border: 2px solid var(--lighter-accent-color);
            box-shadow: 3px 3px 0 var(--lighter-accent-color);
        }
    }
}

@keyframes auto-typing {
    40%,60% {
        left: 100%;
    }
    100%{
        left: 0;
    }
}

@keyframes cursor-blink {
    to {
        background-color: transparent;
    }
}

.img-holder {
    position: relative;
}

.liquid-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 125%; /* Increase width */
    height: 125%; /* Increase height */
    transform: translate(-10%, 10%); /* Center the enlarged SVG */
    z-index: 0;
}

.liquid-shape > path {
    fill: var(--gradient-color);
}

.img-box {
    position: relative;
    z-index: 1;
}

.img-box img {
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(7px 5px rgba(0,0,0,0.1));
    transition: transform 0.3s ease;
}

.img-box img:hover {
    transform: scale(1.05);
}