.projects {
    align-items: center;
    flex-flow: column;
    gap: 1em;
    padding-block: 1em;
    --_title-color: #ebebf6;
    --_subtitle-color: #dbdbdb;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: 1em;
    border: 2px solid var(--tertiary-font-color);
    box-shadow: 
        4px 4px 1px var(--lighter-accent-color),
        inset 5px 5px 1px var(--sd-highlight);
    max-width: 60vmax;
    padding: 1em;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-details {
    --_gradient_mask: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--_gradient_mask);
    border-radius: .5em;
    padding-left: 1em;
    opacity: 0;
    transition: 0.6s;
}

/* html > body.dark .project-details {
    --_gradient_mask: linear-gradient(to right,rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.75), rgba(250, 250, 250, 1));
} */

.project-details:hover {
    opacity: 1;
}

.project-details > * {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.project-details:hover > * {
    transform: translateY(0px);
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.project-image {
    height: 450px;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: .5em;
    object-fit: cover;
}

.project-name{
    color: var(--_title-color);
    margin-left: .5em;
}

.project-description {
    color: var(--_subtitle-color);
    font-size: clamp(0.1em, 1em, 1.25em);
    padding: 0 1em;
    max-width: max-content;
    text-align: justify;
}

.tech-stack {
    display: flex;
    gap: 1em;
    margin: 1em;
    fill: var(--_subtitle-color);
}

.tech-stack svg {
    width: 2rem;
}

.show-more-button {
    max-width: max-content;
    padding: 0.5em 1em;
    margin: 1em;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.6s;
}

.show-more-button:hover {
    background-color: var(--lighter-accent-color);
}

.swiper {
    overflow-x: hidden;
    padding: 2em 1.05em;
}

.swiper > *:not(.swiper-wrapper) {
    position: absolute;
}

.swiper-wrapper {
    max-width: 60vmax;   
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 15px; height: 15px;
    opacity: 1;
    background-color: var(--tertiary-font-color);
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background: var(--accent-color);
    border: 3px solid var(--lighter-accent-color);
}

[class^="swiper-button"] {
    color: var(--tertiary-font-color);
    opacity: 0;
    top: 0;
    height: 200%;
}
