/* Skills Section */
#skills {
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 4em;
    height: max-content;
    padding-block: 1em;
}

.skills-container {
    padding: 1rem;
    width: 80%;
    display: flex; /* Change to flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 3em; /* Space between items */
}

.skills-content {
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 2px 6px 6px var(--sd-darken),
                inset 3px 6px 6px var(--sd-highlight);
    max-height: 150px; /* Adjust this value to match your header height */
    overflow: hidden;
    flex: 1 1 calc(50% - 1em); /* Take up half the width minus gap */
    box-sizing: border-box; /* Include padding and border in width calculation */
    --webkit-backdrop-filter: blur(10px);
}

.skills-content:not(.skills-close) {
    max-height: 800px;
}

.drop-down {
    fill: var(--accent-color);
    transform: rotate(-180deg);
}

.skills-content > * {
    margin: 1em;
    color: var(--tertiary-font-color);
}

.skills-content .skills-header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.skills-content .skills-header:hover {
    transform: translateY(0.5rem);
    transition: all 0.5s ease-out;
}

.skills-content .skills-header svg{
    width: 48px; height: auto;
}

.skills-content:not(:nth-child(2)) .skills-header svg{
    fill: var(--accent-color);
}

.skills-content:nth-child(2) .skills-header svg {
    stroke: var(--accent-color);
}

.skills-area-title {
    font-size: clamp(1.25em, 1.25em + 0.3vmax, 1.75em);
    color: var(--primary-font-color);
}

.skills-data {
    margin-bottom: 1em;
}

.skills-title > svg {
    fill: var(--secondary-font-color);
    width: 24px;  height: auto;
}

.skills-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.skills-title .skills-number {
    margin-left: auto;
}

.skills-title .skills-name {
    font-weight: 400;
}

.skills-bar,
.skills-percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills-bar {
    background-color: var(--lighter-accent-color);
}

.skills-percentage {
    display: block;
    background: var(--accent-color);
    width: 0; /* Start at 0 width */
    transition: width 1s ease-out;
}

.skills-content:not(.skills-close) .skills-percentage {
    width: var(--_percent);
}

.skills-list {
    padding-left: 1rem;
    overflow: hidden;
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out 0.3s;
}

.skills-close .drop-down {
    transform: rotate(0deg);
}

.skills-close .skills-list {
    max-height: 0;
    opacity: 0;
    transition-delay: 0s;
}

.skills-close .skills-list > * {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
