:root {
    color-scheme: light dark; /* Allow both light and dark color scheme from system */
    scroll-behavior: smooth;

    /* Light Theme - Color Scheme*/
    --accent-color: #5619d1;
    --lighter-accent-color: #9e79e7a4;
    --header-color: #FFFFFF;
    --bg-color: #EAEFF8;
    --bg-color-2: #d0d6df;
    --primary-font-color: #0D0D0D;
    --secondary-font-color: #555656;
    --tertiary-font-color: #828486;
    --gradient-color: linear-gradient(to right, #b89ef4, #906ce4 , #5f2dc2bf, #49268f);
    --button-color: #ebebf6;
    --button-hover-color: #dbdbdb;
    --button-font-color: #F1F3F5;
    --repeating-grid-color: #8d8d8d10;
    --card-color: #f3f3f380;

    /* shadow color */
    --sd-highlight: #ffffff80;
    --sd-darken: #0000001a;
}

/* For manual toggle */
:root.dark,
html > body.dark {
    --accent-color: #6134bd;
    --lighter-accent-color: #d1bbffae;
    --bg-color: #0b1215;
    --bg-color-2: #070a0d;
    --header-color: #181D23;
    --primary-font-color: #d6d6d6;
    --secondary-font-color: #B0B0B0;
    --tertiary-font-color: #8A8F99;
    --gradient-color: linear-gradient(to right, #b89ef4, #906ce4 , #8252e4bf, #6a44b8);
    --button-color: #202225;
    --button-hover-color:#303335;
    --button-font-color: #D1D3D5;
    --repeating-grid-color: #cfcdcd0b;
    --card-color: #21212180;

    /* shadow color */
    --sd-highlight: #00000080;
    --sd-darken: #8b87871d;
}

*,
*::before,
*::after {
    /* Global settings */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    font-size: clamp(2em, 2vw + 1em, 3em);
    color: var(--primary-font-color);
}

h1 .hightlight-text {
    font-family: "MuseoModerno", sans-serif;
    background-image: linear-gradient(to right,#f8cdda, #a17fe0, #5d26c1, #0869d7); 
    background-position: left;
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: font-animation 8s infinite forwards alternate;
}

@keyframes font-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

h2 {
    font-size: 1.75em;
    font-size: clamp(1.5em, 1.5vw + 0.5em, 2em);
    color: var(--secondary-font-color);
}

p {
    margin-top: 2em;
    max-width: 600px;
    padding: 10px 0 20px 0;
    color: var(--tertiary-font-color);
    font-size: clamp(0.75em, 0.9vw + 0.1em, 1.5em);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* Responsive layout for mobile view */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }

    .intro-text {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}

section {
    height: 100svh;
    width: 100svw;
    background-image: repeating-linear-gradient(to right, transparent 0 49px, var(--repeating-grid-color) 49px 50px),
    repeating-linear-gradient(to bottom, transparent 0 49px, var(--repeating-grid-color) 49px 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-wrapper {
    display: flex;
    width: 85svw;
}

section:nth-child(odd){
    background-color: var(--bg-color-2);
}

section:nth-child(even){
    background-color: var(--bg-color);
}

.section-title {
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;
}

.section-title:not(.section-title:has(span.logo-title))::after {
    --w: 60%;
    content: '';
    display: block;
    width: var(--w);
    margin-top: -3%;
    margin-left: calc((100% - var(--w))/2);
    height: 4px;
    border-radius: 2in;
    background-color: var(--tertiary-font-color);
}

section:not(.main-section) {
    height: 100vmin;
    scroll-margin-top: 10vmin;
}

.highlight-wrapper {
    background-color: #f0f8ff; /* Light blue */
    padding: 10px;
    border-left: 4px solid #007bff; /* Accent color */
    margin-bottom: 10px;
    border-radius: 5px;
}

.highlight-wrapper > p {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}